<div class="row">
    <div class="d-flex justify-content-between align-items-center">
        <div class="col-8 mb-1">
            <h3 class="text-header">
                {{selectedTodoId? ('::EditItem' | abpLocalization) : ('::AddItem' | abpLocalization)}}
            </h3>
        </div>
    </div>
</div>
<div class="card">
    <form [formGroup]="todoForm" id="todoForm" (ngSubmit)="save()" class="row modal-form" *ngIf="todoForm">
        <div class="col-md-6">
            <label for="title" class="form-label">{{ '::Title' | abpLocalization }}</label>
            <input type="text" id="title" formControlName="title" class="form-control" />
        </div>

        <div class="col-md-6">
            <label for="description" class="form-label">{{ '::Description' | abpLocalization }}</label>
            <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>

        <div class="col-md-6">
            <label for="status" class="form-label">{{ '::Status' | abpLocalization }}</label>
            <select id="status" formControlName="status" class="form-select">
                <option value="0">{{ '::Pending' | abpLocalization }}</option>
                <option value="1">{{ '::InProgress' | abpLocalization }}</option>
                <option value="2">{{ '::Completed' | abpLocalization }}</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="priority" class="form-label">{{ '::Priority' | abpLocalization }}</label>
            <select id="priority" formControlName="priority" class="form-select">
                <option value="0">{{ '::Low' | abpLocalization }}</option>
                <option value="1">{{ '::Medium' | abpLocalization }}</option>
                <option value="2">{{ '::High' | abpLocalization }}</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="dueDate" class="form-label">{{ '::DueDate' | abpLocalization }}</label>
            <input type="date" id="dueDate" formControlName="dueDate" class="form-control" />
        </div>

        <div class="col-md-12 d-flex justify-content-end gap-2 mt-3">
            <button type="submit" [disabled]="todoForm.invalid" class="btn btn-primary w-25">
                {{ selectedTodoId ? ('::Update' | abpLocalization) : ('::Create' | abpLocalization) }}
            </button>
            <button type="button" #abpClose [routerLink]="'/todo-list'" class="btn btn-secondary w-25">
                {{ ('::Cancel' | abpLocalization) }}
            </button>
        </div>
    </form>
</div>